@charset "utf-8";
/* CSS Document */
#mmc__Configurator,
#mmc__LoadingConfigurator p,
.mmc__titleBar table.mmc__stepIndex,
.mmc__infotip,
.mmc__illustrationZoom div.mmc__close,
#sb-container {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.font-white #mmc__Configurator #mmc__LoadingConfigurator *,
.font-white #mmc__Configurator .mmc__titleBar *,
.font-white #mmc__Configurator .mmc__contentIntro,
.font-white #mmc__Configurator #mmc__Options label,
.font-white #mmc__Configurator #mmc__Options .mmc__product *,
.font-white #mmc__Configurator .mmc__button a:hover {
  color: #fff !important;
  border-color: #fff !important;
}
#mmc__Configurator .mmc__active {
  background: none;
}
#mmc__Configurator * {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
#mmc__Configurator b,
#mmc__Configurator strong {
  font-family: 'VELUXGothicBlack', Arial, sans-serif;
}
#mmc__Configurator #mmc__LoadingConfigurator {
  font-size: 2em;
  text-shadow: none;
}
#mmc__Configurator #mmc__LoadingConfigurator .mmc__loadingIcon {
  background-image: url(images/marketing-configurator-loading.gif);
}
#mmc__Configurator #mmc__Options {
  width: 100%;
}
#mmc__Configurator #mmc__Options .mmc__configStep {
  margin: 0 10px;
  z-index: initial;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__titleBar {
  background: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: default;
  font-size: 1.33333333;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__titleBar > * {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__titleBar .mmc__stepPreText {
  display: inline-block;
  float: left;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__titleBar .mmc__stepIndex {
  display: inline-block;
  background: none;
  color: #333;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  float: left;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__titleBar .mmc__stepIndex tr {
  background: none;
  padding: 0;
  margin: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__titleBar .mmc__stepIndex tr td {
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content {
  width: 100%;
  padding: 0;
  display: block;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__contentIntro {
  border-bottom: 1px dotted black;
  padding: 0 0 0.5em;
  margin: 0 0 1em;
  min-height: 48px;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__contentIntro .mmc__contentTitle {
  font-family: 'VELUXGothicRegItalic', Arial, sans-serif;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__contentIntro .mmc__contentSubTitle {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__sampleNameplate {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options {
  width: 100%;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__select {
  float: none;
  width: auto;
  margin: 0 0 1em;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__select label {
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__select select {
  display: block !important;
  height: 2em;
  width: 100%;
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__select .chosen-container {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__select .chosen-container .chosen-single {
  background: none;
  height: 2em;
  line-height: 2em;
  border: 1px solid #a9a9a9;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__select .chosen-container .chosen-single div {
  background-image: url(../images/icon-chevron-bottom.png);
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__selectBoxes .mmc__selectPlus {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__button {
  background: none;
  margin: 0;
  padding: 0;
  float: none;
  height: auto;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__button .mmc__buttonIcon {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__button a {
  background: none;
  color: #ff0000;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: normal;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__button a:hover {
  color: #333;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .configurator-tip {
  background-color: #aacae3;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option {
  background: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option .mmc__icon {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option label {
  background: none;
  margin: 0;
  padding: 0 2em 1em 1.5em;
  height: auto;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option label input {
  top: 4px;
  left: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option label input.mmc__dummyRadio {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option label table tr,
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option label table td {
  background: none;
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option.mmc__active:before {
  content: '';
  background-image: url(images/veluxshop-sprite-default.png);
  background-position: -584px -124px;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  right: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option.mmc__active label {
  color: #333;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option.mmc__active label input {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option.mmc__active label input.mmc__dummyRadio {
  display: block;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__options .mmc__option.mmc__colour {
  height: auto;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__buttonBar {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__userMessage {
  background: none;
  background-color: #aacae3;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 2em;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__userMessage .mmc__userMessageDescription {
  padding: 1em;
}
#mmc__Configurator #mmc__Options .mmc__configStep .mmc__content .mmc__userMessage .mmc__userMessageDescription .mmc__userMessageText {
  text-shadow: none;
  color: #333;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__category {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__operation .mmc__options .mmc__option {
  width: auto;
  height: auto;
  float: none;
  margin: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__operation .mmc__options .mmc__option .mmc__icon {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__operation .mmc__options .mmc__option label {
  margin: 0;
  padding: 0 0 1em 1.5em;
  height: auto;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__operation .mmc__options .mmc__option label input {
  top: 4px;
  left: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__operation .mmc__options .mmc__option label table tr,
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__operation .mmc__options .mmc__option label table td {
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__colour .mmc__options .mmc__option.mmc__active:before {
  content: '';
  background-image: url(images/veluxshop-sprite-default.png);
  background-position: -584px -124px;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -11px;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__colour .mmc__options .mmc__option label input {
  top: -10000px;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete {
  display: none;
  margin-left: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show {
  display: block;
  clear: left;
  margin-top: 3em;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products {
  width: 100%;
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product {
  width: 100%;
  position: relative;
  margin: 1em 0;
  box-sizing: border-box;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productImage {
  text-align: center;
  margin: 0 0 1em;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productImage img {
  width: 190px;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productDetails {
  padding: 0 0 1em;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productDetails .mmc__productDetailsName {
  font-size: 1.33333333;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productDetails .mmc__productDetailsTitle {
  font-family: 'VELUXGothicRegItalic', Arial, sans-serif;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow {
  display: table;
  border: 0;
  width: 100%;
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow * {
  color: #333;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow .mmc__type,
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow .mmc__value {
  display: table-cell;
  width: 50%;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow .mmc__icon,
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow .mmc__edit {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow.mmc__price {
  margin: 2em 0 0;
  font-family: 'VELUXGothicRegItalic', Arial, sans-serif;
  text-align: right;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow.mmc__price .mmc__label {
  display: block;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow.mmc__price .mmc__amount {
  display: block;
  font-size: 1.6em;
  margin: 0 0 0 10px;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__products .mmc__product .mmc__productRow.mmc__price .mmc__amount .mmc__currency {
  padding: 0;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__contentIntro .mmc__contentTitle {
  display: none;
}
#mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__show .mmc__content .mmc__contentIntro .mmc__contentSubTitle {
  display: block;
  font-size: 1.73333333;
}
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar {
  display: block;
}
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar .mmc__button {
  background: none;
  height: auto;
  margin-left: 0;
}
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar .mmc__button a,
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar .mmc__button button,
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar .mmc__button input[type="button"] {
  background: none;
  height: auto;
  margin: 0;
}
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar .mmc__button .mmc__buttonIcon {
  display: none;
}
#mmc__Configurator #mmc__Options #mmc__AddToBasket .mmc__buttonBar .mmc__shareButtons {
  position: static;
}
#mmc__Configurator #mmc__Selection {
  display: none;
}
#mmc__Configurator .mmc__infotip .mmc__infotipMessage {
  text-shadow: none;
  line-height: 30px;
}
#mmc__Configurator .mmc__updating .mmc__infoBlock.mmc__updateBlock .mmc__updatingIcon {
  background-image: url(../images/ajax-loader-marketing.gif);
}
#mmc__Configurator .mmc__addToCart.mmc__checkbox label {
  text-shadow: none;
}
/*  ================================================================================================================
/   Shadowbox
/   ============================================================================================================= */
#sb-container {
  font-size: 0.875;
  line-height: 1.57142857;
}
#sb-container #sb-wrapper #sb-wrapper-inner {
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body {
  background: none;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body .mmc__infoPopup {
  background: none;
  border-radius: 0;
  padding: 2em;
  border: 0;
  width: auto;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body .mmc__infoPopup .mmc__closePopup {
  background: none;
  background-color: #f00;
  position: absolute;
  top: -10px;
  right: -60px;
  width: auto;
  height: auto;
  border-radius: 0;
  padding: 8px 15px 11px;
  color: #fff;
  text-shadow: none;
  font-family: 'VELUXGothicBold', Arial, sans-serif;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body .mmc__infoPopup .mmc__closePopup:before {
  content: 'x';
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body .mmc__infoPopup .mmc__closePopup .mmc__text {
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body .mmc__infoPopup .mmc__stepLine {
  display: none;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body .mmc__infoPopup .mmc__step .mmc__stepIcon tr td {
  background: none;
  background-color: #fff;
  color: #333;
  font-style: normal;
  font-family: 'VELUXGothicBold', Arial, sans-serif;
}
#sb-container #sb-wrapper #sb-wrapper-inner #sb-body #sb-body-inner #sb-player .mmc__infoPopup .mmc__windowTypeSize .mmc__step .mmc__stepText img {
  width: auto !important;
}
@media screen and (max-width: 767px) {
  #mmc__Configurator [class*="grid"] {
    float: none;
    width: 100% !important;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  #mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete {
    margin-left: 10px;
  }
  #mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__next .mmc__content .mmc__products .mmc__product {
    padding: 0 0 0 220px;
  }
  #mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__next .mmc__content .mmc__products .mmc__product .mmc__productImage {
    position: absolute;
    top: 0;
    left: 0;
  }
  #mmc__Configurator #mmc__Options .mmc__configStep.mmc__complete.mmc__next .mmc__content .mmc__products .mmc__product .mmc__productImage img {
    width: 190px;
  }
}
/*# sourceMappingURL=skin-marketing.css.map */